:root {
  font-family: system-ui;
  color: white;

  color-scheme: light dark;

  --white: white;
  --black: black;

  --popover-bg: rgb(33, 33, 33, 0.8);
  --popover-border: rgb(50, 50, 50);
  --dark-button-bg: rgb(90, 90, 90);
  --snaren-dark-color: #f2d579;

  --electric-guitar-bg: rgb(255, 246, 233);
  --popover-bg-light: rgba(255, 245, 235, 0.8);
  --popover-border-light: rgba(196, 196, 196, 0.8);
  --light-button-bg: rgb(226, 209, 187);
  --light-hover-button: rgb(226, 209, 187);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: light-dark(var(--electric-guitar-bg), var(--black));
  width: 100vw;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0em;
}

/* snaren ---------------------------------------------------------------------------*/

.snaren {
  width: 60%;
  height: 100vh;

  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.snaar {
  height: 80vh;
  width: 2em;

  padding: 0;
  margin: 0;

  background: none;
  appearance: none;
  border: none;

  cursor: pointer;

  display: flex;
  justify-content: center;

  &::after {
    content: "";

    background-color: var(--snaren-dark-color);

    width: 0.3em;
    height: 100%;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

#snaar-low-e:hover {
  &::after {
    background-color: red;
  }
}

#snaar-a:hover {
  &::after {
    background-color: red;
  }
}

#snaar-d:hover {
  &::after {
    background-color: red;
  }
}

#snaar-g:hover {
  &::after {
    background-color: red;
  }
}

#snaar-b:hover {
  &::after {
    background-color: red;
  }
}

#snaar-high-e:hover {
  &::after {
    background-color: red;
  }
}

/* Popovers ---------------------------------------------------------------------------*/

.popovers {
  width: 70%;
  margin: 0em;
  padding: 2em;
  max-width: 100%;

  position: absolute;

  align-self: center;
  justify-self: center;

  border: light-dark(var(--popover-border-light), var(--popover-border)) 1px
    solid;
  border-radius: 0.3em;
  color: light-dark(var(--black), var(--white));

  background-color: light-dark(var(--popover-bg-light), var(--popover-bg));
  backdrop-filter: blur(10px);
}

:popover-open {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "image image"
    "titel knop"
    "tekst1 tekst1"
    "kop  kop"
    "tekst2 tekst2";

  align-items: start;
}

.popovers h1 {
  padding: 0em;
  margin: 1 0em;
  width: 100%;
  height: 1em;
  grid-area: titel;
}

.popovers h2 {
  grid-area: kop;
}

.tekst1 {
  grid-area: tekst1;
  line-height: 2em;
}

.tekst2 {
  grid-area: tekst2;
  line-height: 2em;
}

.popovers button {
  grid-area: knop;
  align-self: center;
  border-radius: 20em;
  padding: 0.7em;
  background-color: light-dark(var(--light-button-bg), var(--dark-button-bg));
  border: none;
  color: light-dark(var(--white), var(--black));
}

.popovers button:hover {
  grid-area: knop;
  align-self: center;
  border-radius: 20em;
  background-color: light-dark (var(--light-hover-button), var(--white));
  border: none;
}

.popovers img {
  grid-area: image;
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 0.3em;
  border: var(--popover-border);
}

/* SVG Elementen van gitaar ------------------------------------------------------------------*/

#brug {
  position: absolute;
  margin: 75vh 0em 0em 0em;
  width: 480px;
}

#klankgat {
  position: absolute;
  margin: auto;
  width: 650px;
}

.brugpin {
  position: absolute;
  margin: 79vh 0em 0em 0em;
  width: 30px;
}
