body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0em;
  /* background-image: url(/img/foto.png); */
}

.snares {
  width: 60%;
  height: 100vh;

  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.snare {
  height: 80vh;
  width: 2em;

  padding: 0;
  margin: 0;

  background: none;
  appearance: none;
  border: none;

  cursor: pointer;

  display: flex;
  justify-content: center;

  &::after {
    content: "";

    background-color: goldenrod;

    width: 0.3em;
    height: 100%;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

.popovers {
  width: 60%;
  margin: 0em;
  padding: 2em;
  max-width: 100%;

  position: absolute;

  align-self: center;
  justify-self: center;

  border: 1px solid lightgray;
  border-radius: 0.3em;

  background-color: white;
}

:popover-open {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "image image"
    "titel knop"
    "tekst tekst";

  align-items: start;
}

.popovers h1 {
  padding: 0em;
  margin: 1 0em;
  width: 100%;
  height: 1em;
  grid-area: titel;
}

.popovers p {
  grid-area: tekst;
}

.popovers button {
  grid-area: knop;
  align-self: center;
}

.popovers img {
  grid-area: image;
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.circle {
  width: 80vw;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
}

.circle-ring {
  width: 90vw;
  height: auto;
  aspect-ratio: 1/1;

  position: absolute;

  border-radius: 50%;
  background-color: none;
  border: 1px solid black;
}

#bridge {
  position: absolute;
  margin: 75vh 0em 0em 0em;
  width: 480px;
}

#gat {
  position: absolute;
  margin-left: 7.5vw;
  width: 550px;
}
