:root {
  font-family: system-ui;
  color: white;

  color-scheme: light dark;

  --white: white;
  --black: black;

  --popover-bg: rgb(33, 33, 33, 0.8);
  --popover-border: rgb(50, 50, 50);
  --dark-button-bg: rgb(90, 90, 90);
  --snaren-dark-color: #f2d579;

  --electric-guitar-bg: rgb(255, 246, 233);
  --popover-bg-light: rgba(255, 245, 235, 0.8);
  --popover-border-light: rgba(196, 196, 196, 0.8);
  --light-button-bg: rgb(226, 209, 187);
  --light-hover-button: rgb(226, 209, 187);
}

* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}

body {
  margin: 0;
  padding: 0;
  background-color: light-dark(var(--electric-guitar-bg), var(--black));
  width: 100vw;
  overflow-x: hidden;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0em;
}

img {
  object-fit: cover;
}

/* snaren ---------------------------------------------------------------------------*/

.snaren {
  width: 60%;
  height: 100vh;

  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.snaar {
  height: 80vh;
  width: 2em;

  padding: 0;
  margin: 0;

  background: none;
  appearance: none;
  border: none;

  cursor: pointer;

  display: flex;
  justify-content: center;

  &::after {
    content: "";

    background-color: var(--snaren-dark-color);

    width: 0.3em;
    height: 100%;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

#snaar-low-e:hover {
  &::after {
    background-color: red;
  }
}

#snaar-a:hover {
  &::after {
    background-color: red;
  }
}

#snaar-d:hover {
  &::after {
    background-color: red;
  }
}

#snaar-g:hover {
  &::after {
    background-color: red;
  }
}

#snaar-b:hover {
  &::after {
    background-color: red;
  }
}

#snaar-high-e:hover {
  &::after {
    background-color: red;
  }
}

/* Popovers ---------------------------------------------------------------------------*/

:popover-open {
  margin: 0em;

  position: absolute;

  align-self: center;
  justify-self: center;

  border: light-dark(var(--popover-border-light), var(--popover-border)) 1px
    solid;
  border-radius: 0.3em;
  color: light-dark(var(--black), var(--white));

  background-color: light-dark(var(--popover-bg-light), var(--popover-bg));
  backdrop-filter: blur(10px);
  width: 80%;
  padding: 2em;

  display: grid;
  gap: 1em;

  grid-template-columns: auto 1fr;
  grid-template-areas:
    "titel knop"
    "tekst1 image"
    "tekst1 image"
    "tekst1 image"
    "tekst1 image"
    "tekst1 image";

  align-items: start;

  @media (max-width: 900px) {
    display: grid;

    grid-template-columns: auto 1fr;
    grid-template-areas:
      "titel knop"
      "image image"
      "tekst1 tekst1";

    #avatar {
      justify-self: center;
      max-width: 15em;
      height: auto;
      aspect-ratio: 1/1;
      margin: 0em 0em 1em 0em;
    }
  }

  @media (max-width: 550px) {
    #avatar {
      justify-self: center;
      max-width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      margin: 0em 1em 1em 0em;
    }

    .popovers h2 {
      font-size: 1vw;
    }
  }
}

:popover-open h2 {
  grid-area: titel;
  font-size: 3em;
  font-size: clamp(2em, 10vw, 3em);
}

.text-veld1 {
  grid-area: tekst1;
  line-height: 3em;
  align-self: center;
}

.text-veld2 {
  grid-area: tekst2;
  line-height: 2em;
}

:popover-open button {
  grid-area: knop;
  align-self: start;
  justify-self: end;
  border-radius: 20em;
  border: none;

  margin: 0.5em 0em;
  width: 3em;
  height: 3em;

  background: none;
  appearance: none;

  color: var(--white);
  border: solid 1px light-dark(var(--black), var(--white));
}

:popover-open button:hover,
:popover-open button:active,
:popover-open button:focus {
  grid-area: knop;

  appearance: none;

  background-color: light-dark(var(--black), var(--white));
  color: light-dark(var(--white), var(--black));
  border: solid 1px light-dark(var(--black), var(--white));

  cursor: pointer;
}

#avatar {
  aspect-ratio: 1/1;
  width: auto;
  height: 20em;

  border-radius: 20em;
  justify-self: end;
}

:popover-open img {
  grid-area: image;
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 0.3em;
  border: var(--popover-border);
}

/* SVG Elementen van gitaar ------------------------------------------------------------------*/

#brug {
  position: absolute;
  margin: 75vh 0em 0em 0em;
  width: 480px;
}

#klankgat {
  position: absolute;
  margin: auto;
  width: 650px;
}

.brugpin {
  position: absolute;
  margin: 79vh 0em 0em 0em;
  width: 30px;
}
