:root {
  font-family: system-ui;

  --text-color: white;
  --color-guitar: black;

  --snaren-color: #f2d579;
  --snaren-color-hover: red;

  --popover-bg: rgb(33, 33, 33, 0.9);
  --popover-border: rgb(50, 50, 50);

  --popover-close-button-bg: rgb(61, 49, 49);
  --popover-close-button-border: white;
  --popover-close-button-bg-hover: white;
  --popover-close-button-border-hover: rgb(33, 33, 33);

  --popover-border-light: rgba(196, 196, 196, 0.8);
  --light-button-bg: rgb(226, 209, 187);
  --light-hover-button: rgb(226, 209, 187);
}

.electric {
  --text-color: black;
  --color-guitar: rgb(255, 246, 233);

  --snaren-color: #f2d579;
  --snaren-color-hover: red;

  --popover-bg: rgba(255, 245, 235, 0.8);
  --popover-border: rgba(196, 196, 196, 0.8);

  --popover-close-button-bg: white;
  --popover-close-button-border: rgb(33, 33, 33);
  --popover-close-button-bg-hover: rgb(33, 33, 33);
  --popover-close-button-border-hover: white;
}

* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-guitar);
  width: 100vw;
  overflow-x: hidden;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0em;
}

img {
  object-fit: cover;
}

/* snaren ---------------------------------------------------------------------------*/

.snaren {
  width: 60%;
  height: 100vh;

  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.snaar {
  height: 80vh;
  width: 2em;

  padding: 0;
  margin: 0;

  background: none;
  appearance: none;
  border: none;

  cursor: pointer;

  display: flex;
  justify-content: center;

  &::after {
    content: "";

    background-color: var(--snaren-color);

    width: 0.3em;
    height: 100%;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

#snaar-low-e:hover {
  &::after {
    background-color: var(--snaren-color-hover);
  }
}

#snaar-a:hover {
  &::after {
    background-color: var(--snaren-color-hover);
  }
}

#snaar-d:hover {
  &::after {
    background-color: var(--snaren-color-hover);
  }
}

#snaar-g:hover {
  &::after {
    background-color: var(--snaren-color-hover);
  }
}

#snaar-b:hover {
  &::after {
    background-color: var(--snaren-color-hover);
  }
}

#snaar-high-e:hover {
  &::after {
    background-color: var(--snaren-color-hover);
  }
}

/* Popovers ---------------------------------------------------------------------------*/

:popover-open {
  margin: 0em;

  position: absolute;

  align-self: center;
  justify-self: center;

  border: var(--popover-border) 1px solid;
  border-radius: 0.3em;
  color: var(--text-color);

  background-color: var(--popover-bg);
  backdrop-filter: blur(1em);
  width: 80%;
  padding: 2em;

  display: grid;
  gap: 1em;

  grid-template-columns: auto 1fr;
  grid-template-areas:
    "titel knop"
    "tekst1 image";

  align-items: start;

  @media (max-width: 900px) {
    display: grid;

    grid-template-columns: auto 1fr;
    grid-template-areas:
      "titel knop"
      "image image"
      "tekst1 tekst1";

    #avatar {
      justify-self: center;
      max-width: 15em;
      height: auto;
      aspect-ratio: 1/1;
      margin: 0em 0em 1em 0em;
    }

    @media (max-width: 550px) {
      #avatar {
        justify-self: center;
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        margin: 0em 1em 1em 0em;
      }

      .popovers h2 {
        font-size: 1vw;
      }
    }
  }
}

.popovers li {
  margin: 1em;
}

:popover-open h2 {
  grid-area: titel;
  font-size: 3em;
  font-size: clamp(2em, 10vw, 3em);
}

.text-veld1 {
  grid-area: tekst1;
  line-height: 3em;
  align-self: center;
}

.text-veld2 {
  grid-area: tekst2;
  line-height: 2em;
}

:popover-open button {
  grid-area: knop;
  align-self: start;
  justify-self: end;
  border-radius: 20em;
  border: none;

  margin: 0.5em 0em;
  width: 3em;
  height: 3em;

  background: none;
  appearance: none;

  color: var(--popover-close-button-border);
  border: solid 1px var(--popover-close-button-border);
}

:popover-open button:hover,
:popover-open button:active,
:popover-open button:focus {
  grid-area: knop;

  appearance: none;

  background-color: var(--popover-close-button-bg-hover);
  color: var(--popover-close-button-border-hover);
  border: solid 1px var(--popover-close-button-border-hover);

  cursor: pointer;
}

#avatar {
  aspect-ratio: 1/1;
  width: auto;
  height: 20em;
  border-radius: 20em;
  border: var(--popover-border);
  justify-self: end;
}

:popover-open img {
  grid-area: image;
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 0.3em;
  border: var(--popover-border);
}

/* SVG Elementen van gitaar ------------------------------------------------------------------*/

#brug {
  position: absolute;
  margin: 75vh 0em 0em 0em;
  width: 480px;
}

#klankgat {
  position: absolute;
  margin: auto;
  width: 650px;
}

.brugpin {
  position: absolute;
  margin: 79vh 0em 0em 0em;
  width: 25px;
}

/* Darkmode toggle ---------------------------------------------------------------------------*/

label {
  width: 7em;
  height: 3.5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebee;
  border-radius: 200px;
  box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.3),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  justify-self: center;
}

label::after {
  content: "";
  position: absolute;

  top: 0.25em;
  left: 0.25em;
  width: 3em;
  height: 3em;

  background-color: linear-gradient(180deg, #ffffff, #d9d9d9);
  border-radius: 2.5em;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

input[type="checkbox"] {
  display: none;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + label {
  background-color: gray;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked + label::after {
  left: 6.75em;
  transform: translateX(-100%);
  background-color: grey;
  transition: all 0.3s ease;
}

label:active::after {
  width: 4em;
  overflow: hidden;
  transition: all 0.3s ease;
}

.light-darkmode {
  margin: 87vh 0em 0em 0em;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.light-darkmode p {
  font-size: 1.2em;
  color: var(--text-color);
}

label svg {
  position: absolute;
  width: 25%;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
}

.acoustic-guitar {
  left: 0.8em;
}

.electric-guitar {
  right: 0.8em;
  fill: gray;
}

input:checked + label .acoustic-guitar {
  fill: lightgray;
}

input:checked + label .electric-guitar {
  fill: white;
}

/* Change ID invoerveld ---------------------------------------------------------------- */

#idchange {
  grid-area: idchange;
  display: flex;
  gap: 0.5em;
  z-index: 1;

  border: solid 2px rgb(237, 237, 237);
  background-color: rgb(237, 237, 237);

  appearance: none;

  border-radius: 2em;
  margin: 2em;
}

#mijnInvoer {
  background-color: white;
  padding: 1em;
  border-radius: 3em;
  box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.3),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  border: none;
  width: 7em;
}

#mijnKnop {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 20em;
  border: none;

  background: white;

  box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.3),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);

  color: black;
}

#mijnKnop:hover {
  background-color: black;
  transition: all 0.3s ease;
  cursor: pointer;
  border: solid 1px white;
  color: white;
}

#mijnKnop:active {
  background-color: rgb(0, 183, 0);
  transition: all 0.1s ease;
  cursor: pointer;
  border: solid 1px white;
  color: white;
}
